@using e_commerce_web.Extension
@using System.Security.Claims

<button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="pe-7s-users"></i>@User.GetSpecificClaims(ClaimTypes.Name)
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">

    @if (User.IsInRole("Admin") || User.IsInRole("NV"))
    {

        <li><a class="dropdown-item" asp-controller="Home" asp-area="Admin" asp-action="Index">TrangAdmin</a></li>
        <li><a class="dropdown-item" asp-controller="Profile" asp-area="" asp-action="Index" asp-route-id="@User.GetSpecificClaims("CustomerID")">MyAccount</a></li>
        <li><a id="textPerson" class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Logout">Logout</a></li>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <li><a class="dropdown-item" asp-controller="Profile" asp-area="" asp-action="Index" asp-route-id="@User.GetSpecificClaims("CustomerID")">MyAccount</a></li>
        <li><a id="textPerson" class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Logout">Logout</a></li>
    }
    else
    {
        <li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Register">Register</a></li>
        @*<li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Login" onclick="getURL()">Login </a></li>*@
        <li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login </a></li>
    }
</ul>
<section Scripts>
</section>

