@using e_commerce_web.Extension
@using System.Security.Claims;


<button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="pe-7s-users"></i>@User.GetSpecificClaim(ClaimTypes.Name)
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">

    @if (User.Identity.IsAuthenticated)
    {
        <li><a class="dropdown-item" asp-controller="Profile" asp-area="" asp-action="Index">MyAccount</a></li>
        <li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Logout">Logout</a></li>
    }
    else
    {
        <li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Register">Register</a></li>
        <li><a class="dropdown-item" asp-controller="Accounts" asp-area="" asp-action="Login">Login </a></li>
    }
</ul>