@*@model List<Order>*@

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>ORDER</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>TOTAL</th>
                <th></th>
            </tr>
            <tr>
                <td><a class="account-order-id" href="javascript:void(0)">#5364</a></td>
                <td>Mar 27, 2019</td>
                <td>On Hold</td>
                <td>$162.00 for 2 items</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-secondary btn-primary-hover"><span>View</span></a>
                </td>
            </tr>
            <tr>
                <td><a class="account-order-id" href="javascript:void(0)">#5356</a></td>
                <td>Mar 27, 2019</td>
                <td>On Hold</td>
                <td>$162.00 for 2 items</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-secondary btn-primary-hover"><span>View</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>